#root {
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30vh;
  width: 100vw;
}

.logoContainer {
  display: flex;
  margin: 10px 2rem 10px;
}

.navigation {
  margin-right: 2rem;
}

.name {
  padding-left: 1rem;
}

svg {
  width: 50px;
  height: 50px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.menuList li {
  cursor: pointer;
  margin: 10px 15px 10px;
}

.menuList li:hover {
  background-image: linear-gradient(45deg, #99d98c, #52b69a);
  background-size: 110%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.splashSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
}

.splashButton {
  max-width: 220px;
}

.mainHeading {
  padding-top: 4em;
  background-image: linear-gradient(
    45deg,
    #b5e48c,
    #99d98c,
    #52b69a,
    #168aad,
    #1e6091
  );
  background-size: 300%;
  background-position: left;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  animation: text-color 5.5s infinite alternate;
}

@keyframes text-color {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.splashButton {
  margin-top: 1.5em;
  padding: 1em 2.2em;
  font-size: 1.1em;
  font-weight: 500;
  /*   border: 0.35rem solid;
  border-image: linear-gradient(
    45deg,
    #b5e48c,
    #99d98c,
    #52b69a,
    #168aad,
    #1e6091
  ); */
}
/*TODO:  when you get bac to this, make a rotating border thing */
/* use this https://codepen.io/alphardex/pen/vYEYGzp */

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

.mouse {
  margin-top: 20vh;
  align-self: center;
  width: 30px;
  height: 60px;
  border: 2px solid #1e6091;
  border-radius: 60px;
  animation: mouseChange 4s linear 60ms alternate infinite none;
  position: relative;
  &::before {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #168aad;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

@keyframes mouseChange {
  0% {
    border-color: #1e6091;
  }
  33% {
    border-color: #168aad;
  }
  66% {
    border-color: #168aad;
  }
  100% {
    border-color: #52b69a;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 40px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 40px;
  }
}

.projects {
  padding-top: 10vh;
  margin: 0vh auto 45vh;
}

.projecSectiontHeading {
  color: #168aad;
}

.projectButton {
  margin: 1em;
  padding: 1em 1.9em;
}

.projectContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(45deg, #1e6091, #168aad, #52b69ab7);
  border-radius: 5px;
  padding: 2em;
  min-height: 10rem;
  width: 70vw;
  margin: 3em;
}

.project button {
  border-radius: 5px;
  max-width: 40%;
}

.leftWrapper,
.rightWrapper {
  margin: 10px;
}

.leftWrapper {
  display: flex;
  align-items: center;
}

.rightWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img {
  max-width: 40vw;
  height: auto;
}

.featureList {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.featureList li {
  max-width: 70%;
  text-align: left;
  font-size: 12px;
  margin: 5px;
}

.featureList h4 {
  font-size: 12px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5em 5em 35vh;
}

.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.aboutText {
  max-width: 50vw;
  min-height: 20vw;
}

.aboutParagraph {
  padding-top: 1em;
  text-align: justify;
  line-height: 2;
}

.aboutSkills {
  display: flex;
  flex-direction: column;
  max-width: 25vw;
}

.skillList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill {
  margin-right: 0.5em;
  margin-bottom: 1em;
  padding: 0.5rem 1rem;
  background-color: #1e6091;
  font-size: smaller;
  font-weight: 600;
}

.contact {
  margin: 5em 5em 40vh;
}

.contactContainer {
  position: relative;
}

/* TODO: a divider for the bottom of contact  */

/* .contactContainer::after {
  content: "";
  position: absolute;
  width: 85%;
  left: 5%;
  height: 1px;
  bottom: -100px;
  background-color: #52b69a;
} */

footer {
  display: flex;
  flex-direction: row-reverse;
}

.leftFooter {
  width: 40%;
  font-size: smaller;
}

.leftFooter p {
  text-align: justify;
  /*   transform: translate(42px, 18px); */
}

@media (max-width: 500px) {
  header {
    height: 20vh;
  }
  h2 {
    font-size: 16px;
  }
  .logoContainer {
    display: none;
  }
  .navigation {
    width: 100%;
    margin: 0px;
  }

  .splashSection,
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
  }

  .splashSection {
    min-height: 60vh;
  }
  .splashSection h1 {
    font-size: 32px;
  }
  .mainHeading {
    margin-top: 1%;
  }
  .mouse {
    display: none;
  }
  .projects,
  .about {
    margin: 10vh auto 20vh;
  }

  .projects .project {
    flex-direction: column;
    /*     min-width: 85vw; */
  }
  .leftWrapper {
    justify-content: center;
  }
  .projectImage {
    min-width: 65vw;
  }

  .featureList li {
    align-self: center;
    text-align: center;
  }

  .about {
    display: flex;
    flex-direction: column;
  }
  .aboutContainer {
    flex-direction: column;
  }
  .aboutText,
  .aboutSkills {
    align-self: center;
    max-width: 85vw;
  }
}

@media (max-width: 800px) and (orientation: landscape) {
  .mainHeading {
    padding-top: 0.3em;
  }
  .logoContainer {
    display: none;
  }
  .mouse {
    display: none;
  }
  .navigation {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0px;
  }
  .menuList {
    align-self: center;
    margin-right: 0px;
    width: 80%;
  }
}

@media (max-width: 1100px) and (orientation: landscape) {
  header {
    height: 25vh;
  }
  .mouse {
    display: none;
  }
  .menuList {
    align-self: center;
    margin-right: 0px;
    width: 80%;
  }
  .mainHeading {
    padding-top: 0.6em;
  }
}
