#root {
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
}

html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30vh;
  width: 100vw;
}

@media (max-width: 1600px) {
  header {
    background-size: 70%;
  }
}

.logoContainer {
  display: flex;
  margin: 10px 2rem 10px;
}

.name {
  padding-left: 1rem;
}

svg {
  width: 50px;
  height: 50px;
}

.navigation {
  margin-right: 2rem;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.menuList li {
  cursor: pointer;
  margin: 10px 15px 10px;
}

.menuList li:hover {
  background-image: linear-gradient(45deg, #99d98c, #52b69a);
  background-size: 110%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.splashSection,
.projects,
.about {
  max-width: 1400px;
}

.splashSection {
  min-height: 70vh;
}

.mainHeading {
  padding-top: 4em;
  background-image: linear-gradient(
    45deg,
    #b5e48c,
    #99d98c,
    #52b69a,
    #168aad,
    #1e6091
  );
  background-size: 300%;
  background-position: left;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  animation: text-color 5.5s infinite alternate;
}

@keyframes text-color {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.splashButton {
  margin-top: 1.5em;
  padding: 1em 2.2em;
  font-size: 1.1em;
  font-weight: 500;
}

.projects {
  padding-top: 10vh;
  margin: 0vh auto 45vh;
}

.projecSectiontHeading {
  color: #168aad;
}

.projectButton {
  margin: 1em;
  padding: 1em 1.9em;
}

.projectContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  border: 2px solid #1e6091;
  padding: 1em;
  min-height: 10rem;
  min-width: 450px;
  margin: 3em;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5em 5em 35vh;
}

.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.aboutText {
  max-width: 40vw;
  min-height: 20vw;
}

.aboutParagraph {
  padding-top: 1em;
  text-align: justify;
  line-height: 2;
}

.aboutSkills {
  display: flex;
  flex-direction: column;
  max-width: 25vw;
}

.skillList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill {
  margin-right: 0.5em;
  margin-bottom: 1em;
  padding: 0.5rem 1rem;
  background-color: #1e6091;
  font-size: smaller;
  font-weight: 600;
}
