#line1 {
  stroke: #b5e48c;
  stroke-dasharray: 1150;
  stroke-dashoffset: 1150;
  animation: draw 1900ms linear 5ms forwards;
}

#line2 {
  stroke: #b5e48c;
  stroke-dasharray: 1020;
  stroke-dashoffset: 1020;
  animation: draw 1800ms ease-in-out 5ms forwards;
}

#line3 {
  stroke: #b5e48c;
  stroke-dasharray: 1050;
  stroke-dashoffset: 1050;
  animation: draw 1950ms linear 5ms forwards;
}

#line4 {
  stroke: #b5e48c;
  stroke-dasharray: 1438.6812744140625;
  stroke-dashoffset: 1438.6812744140625;
  animation: draw 1950ms linear 5ms forwards;
}

#line5 {
  stroke: #b5e48c;
  stroke-dasharray: 1356.572509765625;
  stroke-dashoffset: 1356.572509765625;
  animation: draw 2050ms linear 5ms forwards;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 1000;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.animated-line1 {
  animation-name: colorChange;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2000ms;
  animation-direction: alternate;
}

@keyframes colorChange {
  0% {
    stroke: #b5e48c;
  }
  25% {
    stroke: #99d98c;
  }
  50% {
    stroke: #52b69a;
  }
  75% {
    stroke: #168aad;
  }
  100% {
    stroke: #1e6091;
  }
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.5;
}

.background-image2 {
  transform: translateY(-33%) rotate(180deg) scaleX(-1);
  position: absolute;
  top: 100;
  left: 0;
  width: 100%;
  height: 55%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.2;
}
