#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25em;
}

.logoContainer {
  margin: 10px 15px 10px;
}

svg {
  width: 50px;
  height: 50px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

li {
  margin: 10px 15px 10px;
}
