* {
  padding: 0px;
}

html {
  background-color: var(--dark-background);
}

:root {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5;
  padding: 0px;

  color-scheme: light dark;
  color: var(--dark-mode-text);

  background-size: 100%;
  background-repeat: no-repeat;

  --dark-background: #242424;
  --light-background: #ffffff;

  --light-mode-text: #213547;
  --dark-mode-text: rgba(255, 255, 255, 0.87);
  --link-color: #646cff;
  --dark-link-hover-color: #535bf2;
  --light-link-hover-colo: #747bff;

  --light-button-color: #f9f9f9;
  --button-border-hover: #646cff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--dark-link-hover-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--button-border-hover);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--light-background);
  }
  a:hover {
    color: var(--light-link-hover-colo);
  }
  button {
    background-color: var(--light-button-color);
  }
}
